@font-face {
  src: url(Natours/fonts/CS.ttf);
  font-family: CS;
}

.pd-l-30 {
  padding-left: 30px;
  padding-top: 20px;
}

a, h1 {
  font-family: CS, sans-serif;
}

a {
  //text-decoration: none;
  color: black;
}
