@font-face {
  src: url(Natours/fonts/CS.ttf);
  font-family: CS;
}

html {
  font-size: 62.5%;
}
.pd-l-30 {
  padding-left: 2rem;
  padding-top: 2rem;
}

a, h1 {
  font-family: CS, sans-serif;
  font-size: 1.6rem;
}

a {
  //text-decoration: none;
  color: black;
  
}


